* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 30px;
}

/* primary styles */

.btn-primary {
  background-color: #fd6e0a;
  border: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: #e07c34;
  border: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  font-size: 20px;
}

/* header related styles */

header {
  background-color: #d9d9d9;
  background-image: url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px 70px;
  margin-left: 40px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

nav > ul > li > a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
}

nav > ul > li {
  list-style: none;
}

.dev-name {
  color: rgb(255, 115, 64);
}

h2 {
  font-size: 45px;
}

.hed-section {
  padding: 20px 70px 70px;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: right;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-left: 40px;
}

.hed-section > div > div > h2,
p {
  color: #474747;
}

.hed-section > div > div > h2 {
  color: #474747;
  font-size: 45px;
}

.hed-section > div > div > h1 {
  font-size: 85px;
}

.hed-section > div > div > p {
  color: #474747;
  font-size: 18px;
}

.btn-contact {
  color: #fd6e0a;
  border: #fd6e0a 1px solid;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  font-size: 20px;
}

.btn-contact:hover {
  background-color: #e07c34;
  border: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  font-size: 20px;
}

/* About me section related styles */

.about-me {
  margin-top: 100px;
}
.about-me > h3 {
  font-size: 35px;
  text-align: center;
}

.my-info {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
}

.my-info-span {
  color: black;
}

/* What I Do section related styles */

.whatIdo {
  margin-top: 250px;
}

.whatIdo > h3 {
  font-size: 35px;
  text-align: center;
}

.whtIdo-info {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

/* My resume summary related styles */

.resume {
  margin-top: 250px;
}

.resume > h3 {
  font-size: 30px;
  text-align: center;
}

.my-resume{
  margin-top: 110px;
  display: flex;
  justify-content: space-evenly;
  
}

.my-resume > h3{
  font-size: 25px;
  color: #474747;
}

.my-resume > div{
  margin-bottom: 30px;
}

.resume-edu{
  margin-bottom: 60px;
}

